@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 122 47% 49%; /* Muted Green */
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 250 80% 60%; /* Violet-Blue */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 122 47% 49%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 220 5% 78%; /* #c3c5c9 */
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-border: 220 5% 70%;
    --sidebar-primary: 122 47% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 250 80% 60%; /* Violet-Blue */
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-ring: 122 47% 49%;
    
    --user-bubble: 250 80% 60%;
    --assistant-bubble: 240 4.8% 95.9%;
  }
  .dark {
    --background: 228 9% 10%;
    --foreground: 210 40% 98%;
    --card: 228 9% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 228 9% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 158 89% 62%; /* teal */
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 250 80% 60%; /* Violet-Blue */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 215 20% 65%;

    --sidebar-background: 228 9% 17%; /* Carpathian Grey */
    --sidebar-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-primary: 158 89% 62%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 250 80% 60%; /* Violet-Blue */
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-ring: 215 20% 65%;

    --user-bubble: 250 80% 60%;
    --assistant-bubble: 217 33% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
